composer.phar
node_modules/
web/bundles/
web/bundles-built/
web/js/
web/css/
web/assetic/*
web/media/*
web/uploads/*
web/images/
web/coverage/*
app/cache/*
app/logs/*
vendor/
app/app.sqlite
/bin/
/app/config/parameters.yml
/app/check.php
/app/SymfonyRequirements.php
.idea/*
atlassian-ide-plugin.xml
bootstrap.php.cache
/components/
*.*~
